* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  background: #181921;
}
img {
  max-width: 100%;
}
h1,
h2 {
  margin-bottom: 15px;
}
ul{
    list-style-type: none;
}
.container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}
.navbar{
    background: #181621;
    height: 60px;
    color: #fff;
}
.navbar .logo{
    font-size: x-large;
    font-weight: bold;
}
.navbar a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar .nav{
    display: flex;
}
.navbar ul li{
    margin-left: 20px;
}
.header{
    background: #181821;
    color: #fff;
    min-height: 400px;
}
.header h1{
    font-size: 2rem;
    font-weight: bold;
    line-height: 1.2;
}
.header img{
    max-width: 400px;
}
.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cards .container{
    display: flex;
    justify-content: space-between;
}
.card{
    flex: 1;
    background-color: #111;
    color: #fff;
    border-radius: .5rem;
    margin: 20px 10px;
    padding: 15px 20px;
}
.card i{
    margin-right: 10px;
}

@media(max-width: 768px){
    .header .container{
        flex-direction: column;
        padding-top: 20px;
        /* text-align: center; */
    }
    .cards .container{
        display: block;
        text-align: center;
    }
}